<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>New</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <form action="" method="POST">
        Ninja Name:
        <input type="text" name="ninja_name">
        House Name:
        <input type="text" name="house_name">
        Password:
        <input type="password" name="password">
        <input type="submit" value="Login">
    </form>
</body>
</html>