<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ninjas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h1>All About Ninjas</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A doloremque deleniti numquam modi beatae accusantium labore
        maiores totam, dolore excepturi ipsum tempore recusandae velit nobis, nemo voluptatum nesciunt. Aspernatur, iure?</p>
    <ul>
        {% for x in range(0,5) %}
            <li>Fact {{x}}:</li>
        {% endfor %}
    </ul>    
</body>

</html>